#chat-container {
  background-color: #ece5dd;
  margin: 0 auto;
  width: 50%;
  height: 390px;
  border-top: black 1px solid;
  border-left: black 1px solid;
  border-right: grey 5px solid;
  border-bottom: grey 5px solid;
  border-radius: 10px;
  padding: 20px;
}

#title {
  color: #075e54;
  text-align: center;
}

.message {
  border: 1px solid #075e54;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  width: 220px;
}
.my-messages {
  background-color: #dcf8c6;
  margin-right: 0;
  margin-left: auto;
}

.you-messages {
  background-color: white;
}
