body {
  background-color: white;
  padding: 20px;
  border: 10px solid black;
}
#image {
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  margin: 2px;
}
#Leather {
  color: blue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#price {
  color: blue;
  font-size: 10px;
  text-align: center;
}
#notes {
  color: gray;
  font-size: 8px;
  text-align: center;
}
#buy {
  color: white;
  background-color: green;
  font-size: 8px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
