body {
  color: #222222;
  background-color: #f4f7fb;
  font-size: 16px;
}

h1 {
  color: #1a3d7c;
  font-size: 2.4rem;
  font-family: "lucida console", "monaco", "courier new", monospace;
}

h2 {
  color: darkslateblue;
  font-size: 1.8rem;
  font-family: Verdana, "Geneva", Tahoma, "sans-serif";
}

h3 {
  color: #333366;
  font-size: 1.4rem;
}

p {
  color: #333333;
  background-color: #ffffff;
  font-size: 1rem;
}

strong {
  color: #b33a3a;
  font-size: 1rem;
}

mark {
  color: #333333;
  background-color: #ffeb3b;
  font-size: 1rem;
}

em {
  color: #4f4f4f;
  font-size: 1rem;
}

a {
  color: #0056b3;
  font-size: 1rem;
}

.tahoma-font {
  font-family: Tahoma;
}

#fake-font {
  font-family: "fake-font", monospace;
}

li {
  color: #2b2b2b;
  font-size: 1rem;
}

.decoration-purple {
  text-decoration: underline overline dashed purple;
}

.decoration-green {
  text-decoration: line-through double green 4px;
}

.decoration-orange {
  text-decoration: overline solid orange;
}

.decoration-dotted {
  text-decoration: underline line-through dotted 2px;
}
