/* section 1*/
body {
  background-color: beige;
}

#header {
  font-size: 15px;
}

.bait {
  background-color: aquamarine;
  color: #f7be74;
}
.first-line {
  color: #8e05c9;
}

/* section 2*/
.chorus {
  color: #eb3d66;
}
