#blue-button {
  background-color: blue;
}

.blue-background {
  background-color: blue;
}

#yellow-button {
  background-color: yellow;
}

.yellow-text {
  background-color: yellow;
}
.blue-text {
  color: blue;
}
button {
  margin: 20px;
  padding: 20px;
}
