/* section 1*/
body {
  background-color: beige;
}

.header {
  font-size: 50px;
}


.bait {
  background-color: aquamarine;
  font-size: 20px;
  color: #f7be74;
}

/* section 2*/
.chorus {
  color: #eb3d66;

}


