body {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  border: solid grey;
  border-width: 2px 8px 8px 2px;
  background-color: white;
  width: 366px;
  height: 342px;
  border-radius: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#name {
  display: block;

  width: 180px;

  margin: 10px;
}

#occupation {
  display: block;

  width: 180px;

  margin: 10px;
}

#greeting {
  width: 180px;

  height: 60px;

  display: block;

  margin: 10px;
}

button {
  margin: 10px;
}
