#students-directory {
  display: flex;
  justify-content: center;
}

.students-list {
  width: 100%;
  max-width: 800px;
}

.row {
  background-color: lightgray;
  display: flex;
  width: 100%;
}

#header {
  background-color: blueviolet;
}

.cell {
  flex: 1;
  padding: 15px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  border: solid black 1px;
  border-radius: 90px;
  width: 100px;
  height: 100px;
}
